.drawer {
  height: 94.6vh;
  width: 14vw;
  background-color: var(--main-white);
  box-shadow: 3px 0px 8px #888888;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .drawer {
    width: 60vw;
  }
}

.MuiListItemButton-root {
  color: var(--main-grey);
  font-size: 1.25rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.MuiListItemButton-root:hover {
  color: var(--main-white);
  background-color: var(--third-blue);
  box-shadow: 2px 2px 2px #888888;
}
