:root {
  --main-blue: #003399;
  --main-white: #ffffff;
  --secondary-blue: #6699ff;
  --third-blue: #3366cc;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mainPage {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
}
