:root {
  --main-blue: #011e3d;
  /* --main-blue: #334a77; */
  /* --main-blue: #011e3d; */
  --second-blue: #0038f1;
  /* --second-blue: #0175e8; */
  /* --second-blue: #2859fc; */
  --main-grey: #808080;
  --main-black: #1c1c1c;
  --main-white: #f1f1ff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-white);
}

.mainPage {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 55px;
  background-color: var(--main-white);
}
