.cls-1 {
  fill-rule: evenodd;
}
#Layer_1 {
  width: 10vw;
  height: 15vw;
  align-self: center;
  padding: 0;
  margin: 0;
}

.empty {
  margin-top: 1%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #Layer_1 {
    width: 60% !important;
    height: 70% !important;
    align-self: center;
    padding: 0;
    margin-bottom: 5% !important;
  }

  .empty {
    margin-top: 20% !important;
  }
}

.em {
  color: var(--main-blue);
  font-weight: bold !important;
  font-size: 1.5rem !important;
  padding: 0 !important;
}
