.drawer {
  height: 94.6vh;
  width: 18%;
  background-color: var(--main-white);
  box-shadow: 3px 0px 8px #888888;
  z-index: 200;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .drawer {
    width: 60vw;
    transition: 800ms;
    position: absolute;
    transition: all 1s;
    left: -200%;
  }
  .drawer.active {
    transition: 1s;
    left: 0;
  }
  .transButton {
    display: block !important;
  }
  .hide {
    display: none !important;
  }
}

.MuiListItemButton-root {
  color: var(--main-blue);
  font-size: 1.25rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.MuiListItemButton-root:hover,
.MuiListItemButton-root:focus {
  color: var(--second-blue);
  border-color: var(--second-blue);
  border-left: 5px solid;
  /* background-color: var(--third-blue); */
  box-shadow: 2px 2px 2px #888888;
}

.icon {
  color: var(--main-blue);
}

.MuiListItemButton-root:hover .icon,
.MuiListItemButton-root:focus .icon {
  color: var(--second-blue);
}

.transButton {
  position: absolute;
  width: 100vh;
  height: 100vh;
  display: none;
  background-color: transparent;
  border: none;
}
