.mainForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  width: 50%;
  height: 70%;
  background-color: var(--main-white);
  padding: 2%;
  box-sizing: border-box;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); */
}
@media screen and (max-width: 1000px) {
  .signform {
    width: 96%;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .mainForm {
    width: 85%;
    height: 60%;
    bottom: 30%;
  }
  .stepper {
    display: none;
  }
  #step1:nth-child(-n + 2) {
    width: 100%;
    margin-bottom: 6%;
  }
  .signform {
    flex-direction: row;
  }
}

.stepper {
  width: 100%;
}
.curtain {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 90;
}

.MuiStepLabel-iconContainer {
  color: red;
}

.QontoStepIcon-circle {
  width: 8px;
  height: 8px;
  border-radius: "50%";
  background-color: red;
}

.signform {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgba(187, 104, 104, 0.7); */
  margin-top: 7%;
  width: 62%;
  padding: 0;
}

.sm {
  width: 40%;
}
.sm,
.bg {
  margin-bottom: 30px;
}

.nextIcon {
  margin-top: 120px;
  width: 100px;
}

@keyframes fade {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    display: none;
  }
}

@keyframes slide {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    /* transform: scale(0); */
    display: block;
    opacity: 1;
  }
}

.signform.slide {
  animation: slide 500ms ease-in-out forwards;
}

.signform.fade {
  animation: fade 500ms ease-in-out forwards;
}
