.mainForm {
  position: absolute;
  border-radius: 2%;
  width: 50%;
  height: 70%;
  background-color: #fdfdfd;
  z-index: 10;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .mainForm {
    width: 85%;
    height: 60%;
    bottom: 30%;
  }
}

.curtain {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
}
