.mainForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  width: 50%;
  height: 70%;
  background-color: var(--main-white);
  padding: 2%;
  box-sizing: border-box;
  z-index: 99;
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); */
}

@media only screen and (hover: none) and (pointer: coarse) {
  .mainForm {
    width: 85%;
    height: 60%;
    bottom: 30%;
  }
}

.curtain {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 90;
}

.MuiStepLabel-iconContainer {
  color: red;
}

.QontoStepIcon-circle {
  width: 8px;
  height: 8px;
  border-radius: "50%";
  background-color: red;
}
