.MiniForm {
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

.MiniFormW {
  position: absolute;
  top: 50%;
  transform: translatey(-60%);
  width: 50%;
  height: 60%;
  background-color: var(--main-white);
  z-index: 100;
}

.ulMini {
  height: 65%;
  overflow: auto;
}

.addInput {
  height: 30px;
  background-color: transparent;
  border: 2px solid var(--third-blue);
  border-radius: 3px;
}
.addInput:focus {
  height: 30px;
  border: 2px solid var(--third-blue) !important;
  outline: none;
  border-radius: 3px;
}
.addInput:hover {
  height: 30px;
  border: 2px solid var(--second-blue) !important;
  outline: none;
  border-radius: 3px;
}
.btnadd:hover {
  background-color: var(--second-blue);
}
