.chartstyle {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--main-white);
  border-radius: 4px;
  box-shadow: 3px 0px 8px #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  height: 30%;
  max-height: 30%;
  min-height: 30%;
  max-width: 48%;
  min-width: 48%;
  margin-inline: 5px;
}
