.mainForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  width: 50%;
  height: 70%;
  background-color: var(--main-white);
  padding: 2%;
  box-sizing: border-box;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); */
}
.signform {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgba(187, 104, 104, 0.7); */
  margin-top: 7%;
  width: 62%;
  padding: 0;
}
.selectRole {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(187, 104, 104, 0.7); */
  margin-top: 2%;
  width: 90%;
  padding: 0;
}
.roles {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}
.roles > div {
  background-color: var(--main-white);
  box-shadow: 3px 0px 8px #888888;
  width: 30%;
  aspect-ratio: 1/1;
  transition: all ease-in-out 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roles > div:hover {
  transform: scale(1.15);
  cursor: pointer;
}
/* @media screen and (max-width: 1000px) {
  .signform {
    width: 96%;
  }
} */
@media only screen and (hover: none) and (pointer: coarse) {
  .roles {
    flex-direction: column !important;
  }
  .roles > div {
    width: 50% !important;
  }
  .nextIcon {
    left: 70% !important;
    margin-bottom: 4px !important;
  }
  .previousIcon {
    right: 70% !important;
    margin-bottom: 4px !important;
  }
  .mainForm {
    width: 90%;
    top: 40% !important;
  }
  .stepper {
    display: none;
  }
  .signform {
    /* background-color: rebeccapurple; */
    width: 100%;
    margin: 0;
  }
  .sm,
  .bg {
    width: 94% !important;
    margin-left: 4px !important;
  }
}

.stepper {
  width: 100%;
}
.curtain {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 90;
}
.hidef {
  display: none !important;
}
.hidef {
  display: none !important;
}
.sm {
  width: 40%;
}
.sm,
.bg {
  margin-bottom: 30px;
}

.nextIcon {
  position: absolute;
  left: 85%;
  top: 100%;
  width: 100px;
}
.previousIcon {
  position: absolute;
  top: 100%;
  width: 100px;
}
@keyframes fade {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    display: none;
  }
}

@keyframes slide {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    /* transform: scale(0); */
    display: block;
    opacity: 1;
  }
}

.signform.slide {
  animation: slide 500ms ease-in-out forwards;
}

.signform.fade {
  animation: fade 500ms ease-in-out forwards;
}

.close {
  z-index: 100;
}
